<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="" class="navbar-brand">EuroNote</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Bills</a></li>
			<li><a href="#">Lobbyists</a></li>
			<li><a href="#">Comments</a></li>
		</ul>
	</div>
</nav>
<div class="container">
	{{outlet}}
</div>